.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 0;
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  padding: 90px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s, z-index 0.2s;
  box-shadow: 0px 0px 90px 8px black;
}

.close {
  position: absolute;
  cursor: pointer;
  height: 35px;
  display: flex;
  top: 5px;
  right: 5px;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: opacity 0.2s;
}

.sizeBtn {
  margin-right: 7px;
  background-color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 30px;
  transition: width 0.2s, opacity 0.2s;
}

.modal-cart {
  width: 90px;
  height: 30px;
  border: none;
  background-color: white;
  padding: 8px;
  margin-top: 50px;
  cursor: pointer;
  transition: height 0.2s, width 0.2s, opacity 0.2s;
}

.modal-cart:hover {
  height: 40px;
  width: 100px;
}

.sizeBtn:hover {
  width: 40px;
}

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2020;
}

.search-section {
  position: relative;
  height: 31px;
  display: flex;
  flex: 1;
  max-width: 400px;
  margin-left: 35px;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  transition: max-width 0.2s, height 0.2s, width 0.2s, margin-bottom 0.2s;
}

.search-bar {
  font-size: 15px;
  display: flex;
  flex: 1;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.466);
  background-color: white;
  font-family: arial;
  height: 27px;
  width: 0px;
  border: 1px solid white;
  border-radius: 4px;
  padding-left: 10px;
  transition: width 0.2s, height 0.2s;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.menu {
  position: relative;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  transition: height 0.2s, width 0.2s, margin-bottom 0.2s;
}

.menu-button {
  position: relative;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}

.menu-button-close {
  position: absolute;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  z-index: 0;
}

.menu-icon {
  height: 50px;
}

.right {
  width: 120px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.cart-menu {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.cart-icon {
  background-color: transparent;
  height: 25px;
}

.profile {
  border: none;
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  height: 35px;
  cursor: pointer;
}

.profile-icon {
  background-color: transparent;
  border-radius: 25px;
  height: 35px;
}

.search-bar::placeholder {
  font-family: Arial;
}

.search-button {
  background-color: white;
  border: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 31px;
  margin-left: -34px;
  border-radius: 4px;
  transition: height 0.2s, margin-bottom 0.2s;
  cursor: pointer;
}

.search-icon {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  transition: height 0.2s, margin-bottom 0.2s;
}

.search-section:hover .search-bar {
  height: 30px;
  width: 370px;
}

.search-section:hover {
  max-width: 430px;
}

.search-section:hover .search-button {
  height: 32px;
  margin-bottom: 1px;
}

.search-section:hover .search-icon {
  height: 17px;
  margin-bottom: 1px;
}

.filterTab {
  margin-top: 60px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 180px;
  left: -180px;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 200;
  border: 0;
}

.filterMenu {
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: font-size 0.3s;
  transition: left 0.2s;
}

.filterMenu:hover {
  font-size: 18px;
}

.products {
  padding-left: 200px;
  padding-top: 100px;
  display: grid;
  row-gap: 35px;
  position: relative;
  left: -30px;
  z-index: 2001;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: left 0.2s;
}

.product {
  border: 1px solid lightgray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  cursor: pointer;
  border: none;
  height: 400px;
}
.options {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 80px;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 100px;
  width: 242px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
  margin-top: 55px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image {
  position: relative;
  border: none;
  display: flex;
  height: 300px;
  margin-bottom: 30px;
  transition: height 0.2s;
  z-index: 1;
  opacity: 1;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.image2 {
  position: absolute;
  display: flex;
  top: 0;
  border: none;
  height: 300px;
  margin-bottom: 30px;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

.front {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product_image {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.product_image:hover .options {
  opacity: 0.8;
}

.product_image:hover .image {
  opacity: 0;
}

.buy,
.cart {
  cursor: pointer;
  padding: 4px 8px;
  font-family: arial;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  height: 26px;
  width: 86px;
  transition: height 0.2s, width 0.2s;
}

.buy {
  margin-right: 5px;
}

.buy:hover,
.cart:hover {
  height: 40px;
  width: 90px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  font-family: arial;
  margin-bottom: 5px;
}

.product_name,
.price {
  background-color: transparent;
  border: 1px solid transparent;
  transition: background-color 0.2s, color 0.2s;
  padding: 2px;
}

.product_name:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.price:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
}
